<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siriporn.dogfindertest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- camera -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".DogFinderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //--fb
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service
            android:name=".FCMInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
ATTENTION: This was auto-generated to add Google Play services to your project for
    App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DogAddInfoActivity"
            android:label="@string/title_activity_dog_add_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyDogActivity"
            android:label="@string/title_activity_my_dog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundDetail"
            android:label="@string/title_activity_search_breed"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MyDogDetail"
            android:label="@string/title_activity_my_dog_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SameDogActivity"
            android:label="@string/title_activity_same_dog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundPostActivity"
            android:label="@string/title_activity_found_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundPostDetail"
            android:label="@string/title_activity_found_post_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="FoundPostDetail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LostPostAcitivity"
            android:label="@string/title_activity_lost_post_acitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindPostActivity"
            android:label="@string/title_activity_find_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SameDogSearchActivity"
            android:label="@string/title_activity_same_dog_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceptActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>